body {
	margin: 0px;
	padding: 0px;
}
canvas {
	border: 1px solid #9C9898;
}

#container {
	/* Gradient background*/
		background-image: linear-gradient(bottom, #D1D8F2 0%, #B8D4FC 69%, #6882D7 100%);
		background-image: -o-linear-gradient(bottom, #D1D8F2 0%, #B8D4FC 69%, #6882D7 100%);
		background-image: -moz-linear-gradient(bottom, #D1D8F2 0%, #B8D4FC 69%, #6882D7 100%);
		background-image: -webkit-linear-gradient(bottom, #D1D8F2 0%, #B8D4FC 69%, #6882D7 100%);
		background-image: -ms-linear-gradient(bottom, #D1D8F2 0%, #B8D4FC 69%, #6882D7 100%);
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #D1D8F2),
			color-stop(0.69, #B8D4FC),
			color-stop(1, #6882D7)
		);
	/* End of Gradient background*/


	background-color:#E3EEFF;
	display: inline-block;
	overflow: hidden;
/*
	height: 640px;
	width: 900px;
*/
	position:relative;
	left:0px;
	top:0px;
	border:2px solid gray;
}


input{
	width:100px;
}

#devPageGame{
	position: fixed;
	top:5px;
	right:5px;
	width: 125px;
	border:2px solid red;
}
#dev_buttons{
	border:2px solid gray;
}

#dev_messages{
	border:2px solid gray;
}
